* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  z-index: 90;
}

.nav-header {

  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 100;
  /* background-color: white; */
}

.navbar img {
  height: 5rem;
  margin-left: 1rem;
}

.nav-button {
  background-color: white;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  margin-right: 1rem;
  outline: none;
}

.navbar ul {

  width: 90%;
  margin: 0 auto;

}

.navbar ul li {
  text-align: center;
}

.nav-links {
  height: 0;
  overflow: hidden;
  transition: all .3s linear;
}

.show-nav {
  height: 100px;
}

.nav-links a {
  color: #15B2D1;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: .2rem;
  font-weight: bold;
  display: inline-block;
  padding: .5rem 0;
  transition: color .3s;
}

.nav-links a:hover {
  color: #236e95;
}

.defaultHero,.roomsHero,.room1Image1 {
  min-height: calc(100vh);
  background-image: url("./images/defaultHero.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.roomsHero, .room1Image1 {
  background-image: url("./images/room-bg.jpeg");

}


.bg-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 60vh;
}


.banner {
  display: inline-block;
  background-color: rgba(0,0,0.5);
  text-align: center;
  padding: 3rem 4.5rem;
  letter-spacing: .2rem;
  text-transform: capitalize;
}

.banner h2 {
  color: #15B2D1;
  font-size: 200%;
}

.banner p {
  color: #15B2D1;
  font-size: 1.2rem;
  margin: 1rem 0 2rem;
}

.btn-primary {
  display: inline-block;
  background-color: #15b2d1;
  padding: 1rem 2rem;
  border-radius: 5px;
  color: white;
  border: 2px solid transparent;
  text-transform: uppercase;
  transition: background .3s, color .3s, border .3s;
}

.btn-primary:hover {
  background: transparent;
  border: 2px solid #15b2d1;
  color: #15B2D1;
}

.section-title {
  font-size: 2rem;
  text-align: center;
  margin: 2rem 0;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .1rem;

}

.section-title::after {
  content: "";
  display: inline-block;
  height: 0.5rem;
  vertical-align: bottom;
  width: 80px;
  border-top: 2px solid #15B2D1;
}

.room-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  width: 90%;
  grid-gap: 5%;
  margin: 0 auto;
  margin-bottom: 10rem;
}



.room-card {
  position: relative;
  top: 0;
  width: 90%;
}


.room-card img {
  border-top-right-radius: 7%;
  width: 100%;
  height: 10rem;

}





figcaption {
  text-align: center;
  padding: 1rem 0;
  background-color: #dfce9d;
  color: #15B2D1;
  text-transform: capitalize;
  font-weight: bold;
  letter-spacing: .1rem;
  box-shadow: 0px  2px 5px black;
}

.prices {
  position: absolute;
  z-index: 5;
  top: 0px;
  left: 0px;
  background-color: black;
  color: #15B2D1;
  font-weight: bold;
  letter-spacing: .1rem;
  padding: .7rem;
  text-align: center;
  border-bottom-right-radius: 30%;
}

.prices p:last-of-type {
  font-size: .7rem;
  letter-spacing: 0;
}


.room-image-container {
  display: grid;
  width: 95%;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  margin: 2rem auto;
  grid-gap: 10px;

}




.room-image img {
  width: 100%;
}

.description p, .description h2
, .info, .extras {
  width: 90%;
  margin: 0 auto;
  line-height: 1.5;
  letter-spacing: .1rem;
  justify-content: left;
}

.info, .extras{
  margin-top: 1rem;
}
.room-image img {
  height: 10rem;
}

.extras {
  margin-bottom: 1rem;
}


.footer {
  text-align: center;
  padding: 1rem;
  background-color: #dfce9d;
  color: #15B2D1;


}

@media (min-width: 900px) {
  .nav-button {
    display: none;
  }

  .navbar {
    display: flex;
  }



  .navbar ul {
    display: flex;
    height: auto;
    justify-content: flex-end;
    align-items: center;
    margin-right: 2rem;
  }

  .nav-links li {
    padding-left: 2rem;
  }

  .roomsHero, .room1Image1 {
    min-height: calc(60vh);
  }

  .room-container {

    grid-template-columns: 1fr 1fr 1fr;

  }


.room-image img {
  height: 25rem;
}

.room-image-container {

  grid-template-columns: 1fr 1fr 1fr;

}


.room-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 2.5rem;
}

.extras ul {

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.extras ul li {
  margin: 0;
  font-size: .8rem;
}





}
